/*header处背景色*/
/*当前模块背景色*/
/*侧边栏字体颜色*/
/*侧边栏背景颜色*/
/*主体内容背景色*/
/*主体中标题背景色*/
.header-bg {
  background-color: #2187c5;
}
.slider-change {
  background-color: #a2cfea;
  color: #343434;
  background-image: none;
}
.menu-content {
  background-color: #EAF2F5;
}
.roleTitle,
.userTitle {
  background-color: #daecf3;
}
.menu-color {
  color: #343434;
}
.submenu a {
  color: #343434;
}
.menu {
  border-bottom: 1px solid #86b8d9;
}
.slider {
  float: left;
  background: none;
}
.appheader-modulelist li a.router-link-active {
  background-color: #0e74b2;
  border: 1px solid #3298d9;
  border-bottom: none;
}
.appheader-modulelist li a:hover {
  background-color: #0e74b2;
  border-bottom: none;
}
.appheader-modulelist li a {
  border-bottom: 5px solid #0e74b2;
}
.submenu a.router-link-active {
  color: #349adb;
  background-color: #349adb;
}
.manager {
  background-color: #0e74b2;
}
