/*主题颜色，appHeader*/
.header-bg {
  /*background-image: url(../../images/caseCheck/header_bg.png);*/
  background: #095c99;
}
.header-bg-dark {
  background-color: #3376b6;
}
.header-bg-light {
  background-color: #f7f7f7;
}
.manager{
  background-color: #1E4E72;
}
.manager:hover{
  background-color:#5E4E72;
}
/*全局字体*/
.font-tiny {
  font-size: 12px;
}
.font-small {
  font-size: 14px;
}
.font-normal {
  font-size: 16px;
}
.font-big {
  font-size: 22px;
}
.menu-color {
  color: #99c1ef;
}
.submenu a {
  color: #99c1ef;
  text-decoration: none;
}
/*按钮不同状态*/
.inline-block {
  display: inline-block;
}
.btn-primary {
  background-color: #eee;
  display: inline-block;
}
.btn-warning {
  background-color: yellow;
  display: inline-block;
}
.btn-success {
  background-color: green;
  display: inline-block;
}
.btn-default {
  background-color: #fff;
  display: inline-block;
}
/*slider*/
.slider-bg-default {
  background-color: #383e4b;
}
.slider-bg-primary {
  background-color: #ddd;
}
.slider-bg-light {
  background-color: #f7f7f7;
}
.slider-bg-lighter {
  background-color: #434a5a;
  /*less提供了颜色函数*/
}
.text-line-none {
  text-decoration: none;
}
/*文本修饰线*/
a.text-line-none {
  text-decoration: none;
  /*样式的调用*/
}
/*侧边栏*/
/*侧边栏背景颜色*/
/*侧边栏字体颜色*/
.slider-change {
  background-color: #383c4b;
  color: #99c1ef;
}
.slider {
  float: left;
  background: url('../images/home/menu-bg.png') no-repeat;
  background-position: left bottom;
}
.appheader-modulelist li a.router-link-active {
  background-color: #01408D;
  border: 1px solid #3989C4;
  border-bottom: 5px solid #1AD1CC;
}
.appheader-modulelist li a:hover {
  background-color: #01408D;
  border-bottom: 5px solid #1AD1CC;
}
.appheader-modulelist li a {
  border-bottom: 5px solid #1E6092;
}
.submenu a.router-link-active {
  background-color: #01478d;
}
a.router-link-active >a{
  color: #fff;
}
.manager {
  background-color: #1E4E72;
}
